body {
    background-color: brown;
    text-align: center;
}

h1 {
color: burlywood;
text-align: center;
}

.friend {
    background-color: darkblue;
    text-align: center;


}
 h3 {
    text-transform: uppercase;
}
